@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	color-scheme: dark;
}

body {
	background-color: #000000;
	color: #ffffff;
	font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
