@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

img.token-icon[alt]:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1F1F1F;
    padding-top: 7px;
    text-align: center;
    font-size: x-large;
    color: #FFFFFF;
    content: attr(alt);
  }